.reserve {
  background-color: #F2F2F2;
  padding: 30px;
  text-align: center;
  border-bottom: 1px solid gold;
}

.reserve h4 {
  padding-bottom: 30px;
  padding-top: 40px;
}

.reserve .btn {
  font-size: 20px;
}