.intro-règlements {
  background-color: #eee9dc;
  color: white;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
  top:0;
  width:100%;
  position: relative;
}

.intro-règlements h1 {
  color: #89691F;
  text-align: center;
  margin-top: 0px;
}

.section1 {
  color: black;
  background-color: #F2F2F2;
  border-bottom: 1px solid gold;
}

.section1 h1 {
  text-align: center;
  margin-top: 0px;
  padding-top: 30px;
  border-top: 1px solid gold;
}

.section1 h3 {
  font-family: 'Open Sans Condensed', sans-serif; 
  font-weight: bolder;
}

.section1 ul {
  list-style-type: none;
  padding: 0px;
  margin-bottom: 0px;
}

.section1 .col-md-10 {
  background-color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
}

.section1 .col-md-10 p {
  font-size: 18px;
  border-bottom: 1px solid gold;
  margin-bottom: 9px;
}

.section1 .sidebar {
  background-color: #cdc650;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  margin-top: 0px;
  margin-left: 60px;
}

.section1 .sidebar p {
  font-size: 18px;
  border-bottom: 1px solid gold;
  margin-bottom: 9px;
}

.respect {
  text-align: center;
}

.respect .col-md-8 {
}

.respect h1 {
  border-top: 1px solid gold;
  padding-top: 20px;
  margin-top: 0px;
  text-decoration: underline;
}

.respect p {
  font-size: 22px;
  padding-bottom: 5px;
}

.respect a {
  font-size: 20px;
}

.footer {
	position: relative;
}